@font-face {
  font-family: "SofiaProBold";
  src: url("~@/assets/fonts/SofiaProBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProSemiBold";
  src: url("~@/assets/fonts/SofiaProSemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProMedium";
  src: url("~@/assets/fonts/SofiaProMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProRegular";
  src: url("~@/assets/fonts/SofiaProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProLight";
  src: url("~@/assets/fonts/SofiaProLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProExtraLight";
  src: url("~@/assets/fonts/SofiaProExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProExtraLightItalic";
  src: url("~@/assets/fonts/SofiaProExtraLight-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
